*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    padding: 2rem 0 2rem;
}

section:last-child{
    margin-bottom: 0;
}

h2{
    background: #555;
    border-radius: 3px;
    color: #ddd;
    padding: 5px;
    margin: 1rem 0;
}

.container{
    display: flex;
    margin: 2rem;
}

p{
    line-height: 1.8;
    font-size: 20px;
}

.heading{
    text-align: left;
    color: rgb(232, 11, 63);
    margin-bottom: 2rem;
    font-style: bold;
    text-transform: uppercase;
}

/* --------------- Side Bar ------------------- */
.container-left{
    margin-right: 4.5rem;
    position: fixed;
}

.container-left h1{
    color: rgb(232, 11, 63);
    margin-bottom: 10px;
}

.container-left ul li{
    list-style: none;
    padding: 4px;
}
.container-left ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(217, 125, 125);
}

.container-left ul li a:hover{
    border-bottom: 2px solid #333;
}

.border{
    border-right: 1px solid #ddd;
    margin-left: 20rem;
}


/* -------------- Documentation Content ------------------ */
.container-right{
    margin-left: 5rem;
}

#intro p{
    margin-bottom: 20px;
}

.container-right img{
    margin-left: 20rem;
}


/* -------------- Footer ------------------ */
.footer{
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    background: #111;
    padding: 1.5rem 0;
}

.footer span{
    color: rgb(237, 12, 12);
}


/* ------------------ Media Queries -------------------- */
@media(max-width: 1024px){
    .container-right img{
        margin-left: 0;
        width: 250px;
    }

    .border{
        margin-left: 18rem;
    }
}

@media(max-width: 650px){
    .container{
        flex-direction: column;
    }

    .container-left{
        margin-bottom: 2.5rem;
        position: relative;
    }

    .container-right{
        margin-left: 0;
    }

    .border{
        border: none;
    }

    img{
        width: 250px;
    }
}